@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.poppins-regular-font {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar-setup {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.brand-name {
  font-size: 24px;
  font-weight: 800;
  margin-top: 87px;
  margin-left: 120px;
  /* border: 1px solid green; */
}

.nav-link-container {
  margin-top: 95px;
  margin-right: 120px;
  /* border: 1px solid blue; */
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 34px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* Banner Section style */

.banner-container {
  display: flex;
  justify-content: space-between;
  gap: 131px;
  /* border: 2px solid green; */
  /* margin: 0 auto; */
}

.banner-description {
  margin-top: 146px;
  width: 582px;
  margin-left: 120px;
  /* border:1px solid blue; */
  
}

.main-title {
  font-size: 52px;
  font-weight: 800;
}

.subtitle {
  margin: 16px 77px 16px 0px;
  width: 505px;
  font-size: 1rem;
  font-weight: 500;
  /* border: 1px solid green; */
}

/* prebook-now button */
.btn {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  border: none;
  background-color: rgba(224, 44, 109, 1);
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

img {
  max-width: auto;
  height: auto;
}

.img-container {
  height: auto;
  margin-top: 65px;
  margin-right: 120px;
  border: 1px solid rgb(0, 204, 255);
  /* width: 100%; */
}

.img-behind {
  position: relative; /* Make the parent element a positioning context */
  width: 475px; 
  height: 475px; 
}

.img-infront {
  position: absolute;
  width: 440px;
  height: 417;
  right: 130px;
  top: 245px;
}

/* Brand images style */

.brands {
  /* margin: 0px 165px;  */
  width: 1110px;
  height: 110px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1000%;
  /* margin: 0 auto; */
}

.brand-logos {
  /* border: 1px solid red; */
  justify-content: center;
  width: 987px;
  height: 40px;
  padding: 36px 62px 35px 62px;
  gap: 61px;
}
